
@font-face {
    font-family: 'Lars-Light';
    src: url('assets/fonts/Lars-Light.woff');
    url('assets/fonts/Lars-Light.woff') format('woff'),
    /* font-weight: normal; */
    font-style: normal;
}


.jumbo			{
    font-family: 'Lars-Light', sans-serif;
    /*     font-weight: 500; */
    /*color: #3479e1; */
    font-size: 3vmax;
    /*     font-weight: bold; */
    letter-spacing: .2vmax;
    text-decoration: underline;
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}
.medium
{
    font-family: 'Lars-Light', sans-serif;
    font-size: 3vmax;
    
    letter-spacing: .1vmax;
    
    /* font-weight: 300; */
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
    /*color: darkgray;*/
}

.small
{
  font-size: 2.25vmax;
  letter-spacing: .1vmax;
  line-height: 1.25;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  line-break: strict;
  word-wrap: break-word;
  /* Controversial full-justification */
  /* text-align: justify;
     text-justify: inter-word; */
  
}

html {
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts glook bold on Mac in Chrome/Webkit based browsers. */
    -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

ul {
  font-family: 'Lars-Light', sans-serif;
  /*color: darkgray;*/
  font-size: 3vmax;
  /* font-weight: 300; */
  /*	letter-spacing: .2vmin; */
  line-height: 1.5;
  /* Controversial full-justification */
  /* text-align: justify;
     text-justify: inter-word; */
}

a:link
{
    color: #3479e1;
    text-decoration: none;
}

a:visited
{
    color: #3479e1;
    text-decoration: none;
}

a:hover
{
    color: gray;
    text-decoration: underline;
}
ul
{
    list-style: none;
    padding-left: 0;
}

.fixed	{ 
  position: fixed;
  left: 55%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: -1;

}

/* img     {
   height: 100vh;
   width: 100%;
   margin:0px;
   padding:0px;
   }
   .fill1 {
   object-fit: cover
   }

   .fill2 {
   object-fit: cover
   }

   .item {
   text-align: left;
   padding-left: 0px;
   padding-right: 0px;
   list-style: none;
   font-family: sans-serif;
   }*/

.element {
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@media print {
  html {
    font-size: 8pt;
    line-height: 10pt;
  }
  .medium {
    font-size: 8pt;

  }
  .jumbo {
    font-size: 8pt;
  }
    .fixed {
	
display: none;
    }
    /* .container {
       margin-left: 1.5cm;
       margin-right:4cm;
       } */
}

@page {
    margin-left: 1.5cm;
    margin-right: 3.5cm;
    margin-top: 1cm;
}
